# Discord bot token, pretty self explanatory.
TOKEN=YOUR_BOT_TOKEN_HERE
# If you intend to use this for a specific server, entering it's server id here will make everything show up MUCH faster. Leave blank for no specific server bot command loading.
SERVER_ID=YOUR_SERVER_ID_HERE
# This is a whitelist roleid to allow only specific users to use detector. Leave blank for no whitelist.
ROLE_ID=YOUR_ROLE_ID_HERE